.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}
 
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
 
.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}
 
.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}
 
/* Buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0 0 0 / 60%);
  color: #fff;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 18px;
}
 
.carousel-btn.prev {
  left: 10px;
}
 
.carousel-btn.next {
  right: 10px;
}
 
.carousel-btn:hover {
  background: black;
}
